.fl-r {
	float: right;
}

.us-btn {
	display: inline-block;
	height: 47px;
	line-height: 47px;
	padding: 0 40px;
	background: #004d9a;
	border: none;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	transition: background .2s ease;

	&:hover {
		background: #006bb1;
	}
}

.us-link {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid;
	transition: border .2s ease;

	&:hover {
		border-color: transparent;
	}
}

.us-input {
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	outline: none;
	padding: 0 15px;
	height: 33px;
	font-size: 14px;
	resize: none;
	box-sizing: border-box;

	&:hover, &:focus {
		border: 1px solid #b1b1b1;
		box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,.1);
	}
}

textarea.us-input {
	padding-top: 15px;
	padding-bottom: 5px;
}

.h1-cont {
	background: #f7f7f7;
	padding: 35px 0;

	h1 {
		font-size: 34px;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 4px;
		margin: 0;
	}
}

.block-title {
	font-size: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #cccccc;
}

.upper-title {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.min-title {
	@extend .upper-title;
	margin-top: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #cccccc;

	&:first-child {
		margin-top: 0;
	}
}

.in-content {
	margin-top: 25px;
}

.title-link {
	color: inherit;
	transition: color .2s ease;
	text-decoration: none;

	&:hover {
		color: #004e9d;
	}
}

.filter-btn {
	background: #fff;
	text-decoration: none;
	color: #222222;
	border: 1px solid #555555;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	outline: 0;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: all .2s ease;

	&:hover {
		color: #fff;
		background: #004e9d;
	}
}

.back-link {
	color: inherit;
	text-decoration: none;

	.fi {
		display: inline-block;
		vertical-align: middle;
		font-size: 35px;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		border-bottom: 1px solid transparent;
		transition: border .2s ease;
	}

	&:hover {
		span {
			border-color: inherit;
		}
	}
}

.min-title {
	a {
		color: inherit;
		text-decoration: none;
	}

	.back-link {
		position: absolute;
		top: -10px;
	}
}

.feed-title {
    font-family: 'pt_serif';
    font-weight: 400;
    font-size: 22px;
    color: #202020;
    text-decoration: none;
}

a.feed-title {
    transition: color .2s ease;

    &:hover {
        color: #004e9d;
    }
}