extends layout

block vars
  - var title = 'Контакты';

block content
    .h1-cont
        .container_12
            .grid_12
                h1 Законопроекты
            .clearfix
    .main-content
        .container_12
            .grid_8
                .min-title Обратная связь
                .in-content
                    p.contact-title Чтобы напрямую обратиться ко мне, Вы можете воспользоваться формой для обратной связи, расположенной ниже, или обратиться в мою приемную. Все обращения граждан рассматриваются лично мной.
                    .contact-form.js-form-cont
                        .js-form-success(style="display: none;") Ваше сообщение успешно отправленно.
                        form(class="js-contact-form" action="json/contact.json" method="GET")
                            .rel
                                textarea.us-input.js-autosize(placeholder="Ваше сообщение" name="message")
                            table.form-table
                                tr
                                    td.table-text Представтесь
                                    td
                                        input.us-input(name="name")
                                tr
                                    td.table-text Электронная почта
                                    td
                                        input.us-input(name="email")
                                tr
                                    td.table-text Ваш телефон
                                    td
                                        input.us-input(name="phone")
                                tr
                                    td.table-text Прикрепить файлы
                                    td.table-file
                                        input(type="file" name="file")
                                        .form-file-desc Допустимы форматы rtf, doc, docx, pdf, jpg
                                tr.form-btn-cont
                                    td &nbsp;
                                    td
                                        button(type="submit").us-btn Отправить форму
                                        span.form-error.js-form-error(style="display: none;") Произошла ошибка,<br>попробуйте позже
            .grid_4.contacts-right
                .min-title Приемная
                .in-content
                    p.contact-title Москва, Новинский бульвар, д. 18, корпус 2. Вход через арку, из арки по диагонали направо.
                .contact-info
                    .info-name Режим работы
                    .info-value Пн-Пт, с 9:00 до 17:00
                .contact-info
                    .info-name Телефон
                    .info-value +7 (963) 992-55-59
                .press-block
                    .min-title Контакты для прессы
                    .press-person
                        .person-photo
                        .person-info
                            .info-name Антон шапарин
                            .info-value Пресс-секретарь
                    .contact-info
                        .info-name Телефон
                        .info-value +7 (467) 890-98-76
            .clearfix
