- var options = [{"name": "Фото", "url": "photo_albums"},{"name": "Видео", "url": "video_albums"},{"name": "Аудио", "url": "audio"},{"name": "Новости", "url": "news"},{"name": "Законопроекты", "url": "laws"},{"name": "Биография", "url": "bio"},{"name": "Контакты", "url": "contacts"}];

header.main-header
	.container_12
		.grid_12
			.person-info
				.person-title
					a(href="index.html") Николай Левичев
				.person-desc
					a(href="index.html") Заместитель Председателя Государственной Думы ФС РФ<br>VI созыва
			- if(!error_page)
				nav.main-nav
					ul.nav-ul
						each option in options
							li.nav-item
								a(href="#{option.url}.html" class = title == option.name ? "active" : "") #{option.name}
				.search-block
					form(action="search.html")
						.search-cont
							input.us-input.search-input(placeholder="Поиск по сайту")
							button.search-btn
		.clearfix