extends layout

block vars
  - var title = 'Законопроекты';

block content
    .h1-cont
        .container_12
            .grid_12
                h1 Законопроекты
            .clearfix
    .main-content
        .container_12
            .grid_8
                .block-title В настоящем разделе освещается законодательная деятельность депутата Государственной Думы Н. В. Левичева.
                ul.main-feed
                    each i in [1,2,3]
                        li.feed-item.js-law-item(data-law-id="#{i}")
                            a(href="#").feed-title.js-open-law О внесении изменений в Федеральный закон<br>“О противодействии коррупции”
                            .feed-desc В части введения упрощенных механизмов установления зон охраны объектов культурного наследия.
                            .js-tabs-parent
                                ul.feed-tab-links
                                    li.js-tab-link
                                        span Пояснительная записка
                                    li.js-open-law
                                        span Текст законопроекта
                                ul.feed-tabs
                                    li.js-tab
                                        .tab-desc
                                            p В частности, государственным и муниципальным организациям и их обособленным подразделениям вменяется в обязанность при использовании финансовых средств организаций, независимо от источников их получения, не допускать перечисления этих средств, в том числе за выполнение работ, услуг или приобретение материальных ценностей, за исключением случаев перечисления средств в соответствии с заключенным контрактом, в том числе контрактом, заключенным с единственным поставщиком
                                        .tab-bottom
                                            p <b>Авторы:</b> Левичев Николай Владимирович, Миронов Сергей Михайлович, Оганян Оганес Арменакович
                                            p <b>Внесен в ГД 04</b> сентября 2013
                                            p <b>Рег. №:</b> 338550-6
                                    li.js-tab
                                        .tab-desc
                                            p В частности, государственным и муниципальным организациям и их обособленным подразделениям вменяется в обязанность при использовании финансовых средств организаций, независимо от источников их получения, не допускать перечисления этих средств, в том числе за выполнение работ, услуг или приобретение материальных ценностей, за исключением случаев перечисления средств в соответствии с заключенным контрактом, в том числе контрактом, заключенным с единственным поставщиком
                                            p В частности, государственным и муниципальным организациям и их обособленным подразделениям вменяется в обязанность при использовании финансовых средств организаций, независимо от источников их получения, не допускать перечисления этих средств, в том числе за выполнение работ, услуг или приобретение материальных ценностей, за исключением случаев перечисления средств в соответствии с заключенным контрактом, в том числе контрактом, заключенным с единственным поставщиком
                                        .tab-bottom
                                            p <b>Авторы:</b> Левичев Николай Владимирович, Миронов Сергей Михайлович, Оганян Оганес Арменакович
                                            p <b>Внесен в ГД 04</b> сентября 2013
                                            p <b>Рег. №:</b> 338550-6
                include pagination
            .grid_4
                .min-title Facebook
                .soc-block
                .min-title Twitter
            .clearfix
    .law-overlay.js-law-overlay
        .law-close.js-law-close
        .law-arrow.a-left.js-law-prev
        .law-arrow.a-right.js-law-next
        each i in [1,2,3]
            .law-popup.js-law-popup(data-law-id="#{i}")
                .law-title О внесении изменений в Федеральный закон “О трудовых пенсиях в Российской Федерации”
                .law-date 2#{i} января 2015
                .law-info
                    p <b>Авторы:</b> Левичев Николай Владимирович, Миронов Сергей Михайлович, Оганян Оганес Арменакович
                    p <b>Внесен в ГД</b> 04 сентября 2013
                    p <b>Рег. №:</b> 338550-6
                .law-text
                    .info-block
                        .upper-title Законопроект
                        a(href="#").info-file
                            span PDF, 56 kB
                    p Разработка  настоящего федерального законопроекта обусловлена необходимостью усиления в России противодействия коррупции посредством установления норм прямого действия, обеспечивающих формирование конкретных механизмов борьбы с коррупцией  в государственных и муниципальных организациях.
                    p В настоящее время хищения бюджетных средств нередко осуществляются посредством коррупционных финансовых операций руководителями государственных и муниципальных организаций или их обособленных структурных  подразделений.Чаще всего коррупционные схемы базируются на перечислении финансовых средств  государственных или муниципальных организаций  или их обособленных структурных подразделений  в организации,  руководителями которых являются близкие родственники одного из руководителей организации, перечисляющей средства. В последнее десятилетие широкое распространение получила другая коррупционная схема, когда в государственную или муниципальную организацию или его обособленное подразделение принимаются на работу близкие родственники руководителя организации, что позволяет ему осуществлять  свою деятельность, в том числе в части финансово-хозяйственных операций,  закрытой от коллектива организации и общества. Такие условия способствуют развитию коррупции и формированию на базе государственной или муниципальной организации и за счет бюджетных средств «коррупционного семейного бизнеса».
                    p Как правило, осуществить противозаконную финансовую операцию без участия главного бухгалтера и заместителей вышеуказанных должностных лиц невозможно.С целью предупреждения условий для коррупции, а также отстранения коррупционеров от полномочий руководителя организации законопроект устанавливает конкретные правовые механизмы. С этой целью предусматривается внести в Федеральный закон “О противодействии коррупции” две новые статьи (статьи 13.5 и 13.6).Статьей 13.5  устанавливается обязанность организаций принимать меры по предупреждению коррупции при использовании финансовых средств государственных и муниципальных организаций. В частности, государственным и муниципальным организациям и их обособленным подразделениям вменяется в обязанность при использовании финансовых средств организаций, независимо от источников их получения, не допускать перечисления этих средств, в том числе за выполнение работ, услуг или приобретение материальных ценностей, за исключением случаев перечисления средств в соответствии с заключенным контрактом, в том числе контрактом, заключенным с единственным поставщиком (подрядчиком, исполнителем), организациям, руководители которых или их заместители, или главные бухгалтеры состоят в близком родстве (родители, супруги, дети, братья, сестры, дедушки, бабушки, внуки, а также братья, сестры, родители, дедушки, бабушки, дети супругов и супруги детей) с руководителями или их заместителями, или главными бухгалтерами организации или обособленного подразделения, перечисляющей средства.
