.main-feed {
    margin: 0;
    padding: 0;
    list-style: none;

    .feed-item {
        padding: 25px 0;
        border-top: 1px solid #cccccc;

        &:first-child {
            border-top: none;
        }

        .feed-date {
            font-size: 14px;
            margin-top: 15px;

            &:first-child {
                margin-top: 0;
                margin-bottom: 15px;
            }
        }

        .feed-desc {
            font-size: 15px;
            margin-top: 20px;

            img {
                float: left;
                width: 155px;
                margin: 0 20px 10px 0;
            }
        }

        .news-desc {
            font-size: 20px;
            margin-top: 15px;
        }

        .news-text {
            font-size: 16px;
            line-height: 1.4;
            margin-top: 20px;

            p {
                @extend .clearfix;
            }

            .news-img {
                float: left;
                width: 300px;
                margin: 0 30px 15px 0;
                font-size: 0;

                .img-photo {
                    width: 100%;
                }

                .img-desc {
                    box-sizing: border-box;
                    width: 100%;
                    background: #f7f7f7;
                    padding: 20px 15px;
                    font-size: 12px;
                }
            }
        }

        .audio-cont {
            display: none;
            margin-top: 20px;
        }

        .feed-tab-links {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 15px;
            margin-top: 10px;

            li {
                display: inline-block;
                vertical-align: top;
                margin: 0 15px;
                color: #1f1f26;
                text-decoration: none;
                cursor: pointer;
                height: 40px;
                line-height: 35px;

                span {
                    display: inline-block;
                    line-height: normal;
                    border-bottom: 1px solid;
                }

                &.active {
                    padding: 0 15px;
                    margin-left: 15px;
                    background: #f7f7f7;
                }

                &:first-child {
                    margin: 0 !important;
                }
            }
        }

        .feed-tabs {
            margin: 0;
            padding: 0;
            list-style: none;
            
            li {
                display: none;
                background: #f7f7f7;
                padding: 1px 15px;

                p {
                    margin: 13px 0;
                }

                .tab-bottom {
                    margin-top: 25px;
                }
            }
        }
    }
}