.pagination {
    margin: 0;
    padding: 0;
    position: relative;
    height: 70px;
    line-height: 70px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    text-align: center;

    li:first-child, li:last-child {
        position: absolute;
        display: inline-block;
        top: 0;
        bottom: 0;
        width: 35px;
        line-height: 80px;
        text-align: center;
        text-decoration: none;
        color: inherit;
        transition: color .2s ease;
        font-size: 35px;

        a, span {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: transparent;
        }

        &:hover {
            color: #004e9d;
        }
        &.disabled {
            &:hover {
                color: inherit;
            }
        }

        &:before {
            @extend .fi;
        }

        &:first-child {
            left: 0;

            &:before {
                content: "\e606";
            }
        }

        &:last-child {
            right: 0;

            &:before {
                content: "\e605";
            }
        }
    }

    li:not(:first-child):not(:last-child) {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

        a, span {
            display: inline-block;
            padding: 0 10px;
            color: #202020;
            font-size: 18px;
            text-decoration: none;
            transition: color .2s ease;
        }

        a {
            &:hover {
                color: #004e9d;
            }
        }

        &.active {
            font-weight: 700;

            a:hover {
                color: inherit;
            }
        }
    }
}