.contact-title {
  font-size: 16px;
  line-height: 1.4;
}

.contact-form {
    position: relative;
    margin-top: 25px;

    textarea.us-input {
        font-size: 16px;
        width: 100%;
        min-height: 100px;
    }

    input.us-input {
        height: 40px;
        width: 100%;
    }

    .form-table {
        width: 100%;
        margin-top: 15px;

        tr {
            height: 70px;

            td {
                position: relative;
            }
        }

        .form-error {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            font-size: 15px;
        }

        .table-text {
            width: 190px;
        }

        .table-file {
            position: relative;

            .form-file-desc {
                position: absolute;
                top: 80%;
                font-size: 14px;
            }
        }

        .form-btn-cont {
            height: auto;

            .us-btn {
                margin-top: 35px;
            }
        }
    }
}

.contacts-right {
    .contact-info {
        margin-top: 25px;
    }

    .info-name {
        font-size: 15px;
        font-weight: 500;
    }

    .info-value {
        margin-top: 7px;
    }

    .press-block {
        margin-top: 60px;
        padding-bottom: 25px;
        border-bottom: 1px solid #cccccc;

        .press-person {
            margin-top: 20px;

            .person-photo {
                display: inline-block;
                vertical-align: middle;
                width: 80px;
                height: 80px;
                background-size: cover;
                background-position: center center;
                background-image: url(../images/press-person.jpg);
            }

            .person-info {
                display: inline-block;
                vertical-align: middle;
                width: 215px;
                margin-left: 10px;

                .info-value {
                    margin-top: 3px;
                }
            }
        }
    }
}