extends layout

block vars
  - var title = 'Биография';

block content
    .h1-cont
        .container_12
            .grid_12
                h1 Биография
            .clearfix
    .bio
        .container_12
            .grid_12
                .bio-title Николай Владимирович Левичев
                .bio-desc Председатель партии «Справедливая Россия» с 2011 года, председатель ООД «Хартия жизни». В прошлом – глава фракции «Справедливой России» партии в Госдуме РФ пятого созыва (декабрь 2007 – июнь 2011 года), заместитель председателя Российской партии жизни, ее идеолог и один из создателей.
                ul.bio-tab-links
                    each option in [{"n": "Биография", "s": "bio", "active": false}, {"n": "Страницы жизни", "s": "bio_live", "active": true}, {"n": "Публикации", "s": "bio_press", "active": false}]
                        li(class = option.active ? "active":"")
                            a(href="#{option.s}.html") #{option.n}
            .clearfix
            ul.bio-tabs
                li.tab-item.text-tab(data-tab="live")
                    .grid_12
                        .bio-text
                            div
                                img(src="images/tmp/bio_2.jpg")
                                p Родился 28 мая 1953 года. Окончил физико-математическую школу № 239 города Ленинграда, поступил на физический факультет Ленинградского государственного университета имени А.А. Жданова. После окончания университета работал научным сотрудником Государственного оптического института имени С.И. Вавилова, был избран в комитет комсомола, затем перешел на профессиональную комсомольскую работу.
                                p В 1984 году с переходом в Отдел культуры ЦК ВЛКСМ переехал в г.Москву. В 1987 – 1989 работал в ВЦСПС, затем окончил аспирантуру Российской академии государственной службы.
                                p С 1991 по 2007 год – занимался предпринимательской деятельностью.
                            div
                                img(src="images/tmp/bio_3.jpg")
                                p В 2002 году вместе с Сергеем Мироновым стал инициатором создания Российской партии Жизни (РПЖ), на учредительном съезде партии был избран сопредседателем Общенационального совета.
                                p С 2003 года по 2006 год – первый заместитель Председателя РПЖ.
                                p В 2006 году был избран в Президиум Центрального совета партии “СПРАВЕДЛИВАЯ РОССИЯ: РОДИНА/ПЕНСИОНЕРЫ/ЖИЗНЬ”, занял пост Секретаря Политбюро Президиума Центрального совета партии.
                                p В 2007 году был избран депутатом Государственной Думы V созыва от партии “СПРАВЕДЛИВАЯ РОССИЯ: Родина/Пенсионеры/Жизнь”, был членом Комитета Государственной Думы по науке и наукоемким технологиям.
                                p В 2007-2011 годах руководил фракцией партии “СПРАВЕДЛИВАЯ РОССИЯ: Родина/Пенсионеры/Жизнь” в Государственной Думе ФС РФ.
                            div
                                img(src="images/tmp/bio_4.jpg")
                                p 21 декабря 2011 года избран заместителем Председателя Государственной Думы РФ VI созыва от фракции Партии СПРАВЕДЛИВАЯ РОССИЯ.
                                p С 16 апреля 2011 года (V съезд) до 27 октября 2013 года (VII съезд) – Председатель партии СПРАВЕДЛИВАЯ РОССИЯ.
                                p 27 октября 2013 года на очередном VII Съезде СПРАВЕДЛИВОЙ РОССИИ был избран Председателем Совета Палаты депутатов партии СПРАВЕДЛИВАЯ РОССИЯ.
                    .clearfix
