extends layout

block vars
  - var title = 'Законопроекты';

block content
    .h1-cont
        .container_12
            .grid_12
                h1 Законопроекты
            .clearfix
    .main-content
        .container_12
            .grid_8
                .min-title Обратная связь
                .in-content
                    p.contact-title Чтобы напрямую обратиться ко мне, Вы можете воспользоваться формой для обратной связи, расположенной ниже, или обратиться в мою приемную. Все обращения граждан рассматриваются лично мной.
                    .contact-form
                        form
                            textarea.us-input.js-autosize(placeholder="Ваше сообщение")
                            table.form-table
                                tr
                                    td.table-text Представтесь
                                    td
                                        input.us-input
                                tr
                                    td.table-text Электронная почта
                                    td
                                        input.us-input
                                tr
                                    td.table-text Ваш телефон
                                    td
                                        input.us-input
                                tr
                                    td.table-text Прикрепить файлы
                                    td.table-file
                                        input(type="file")
                                        .form-file-desc Допустимы форматы rtf, doc, docx, pdf, jpg
                                tr.form-btn-cont
                                    td &nbsp;
                                    td
                                        button.us-btn Отправить форму
            .grid_4.contacts-right
                .min-title Приемная
                .in-content
                    p.contact-title Москва, Новинский бульвар, д. 18, корпус 2. Вход через арку, из арки по диагонали направо.
                .contact-info
                    .info-name Режим работы
                    .info-value Пн-Пт, с 9:00 до 17:00
                .contact-info
                    .info-name Телефон
                    .info-value +7 (963) 992-55-59
                .press-block
                    .min-title Контакты для прессы
                    .press-person
                        .person-photo
                        .person-info
                            .info-name Антон шапарин
                            .info-value Пресс-секретарь
                    .contact-info
                        .info-name Телефон
                        .info-value +7 (467) 890-98-76
            .clearfix
