header.main-header
	.container_12
		.grid_12
			.person-info
				.person-title Николай Левичев
				.person-desc Заместитель Председателя Государственной Думы ФС РФ<br>VI созыва
			- if(!error_page)
				nav.main-nav
					ul.nav-ul
						li.nav-item
							a(href="news.html") Новости
						li.nav-item
							a(href="photo_albums.html") Фото
						li.nav-item
							a(href="video_albums.html") Видео
						li.nav-item
							a(href="#") Аудио
						li.nav-item
							a(href="laws.html") Законопроекты
						li.nav-item
							a(href="#") Биография
						li.nav-item
							a(href="contacts.html") Контакты
				.search-block
					form(action="search.html")
						.search-cont
							input.us-input.search-input(placeholder="Поиск по сайту")
							button.search-btn
		.clearfix