header.main-header
	.container_12
		.grid_12
			.person-info
				.person-title Николай Левичев
				.person-desc Заместитель Председателя Государственной Думы ФС РФ<br>VI созыва
			nav.main-nav
				ul.nav-ul
					li.nav-item
						a(href="#") Новости
					li.nav-item
						a(href="#") Фото
					li.nav-item
						a(href="#") Видео/Аудио
					li.nav-item
						a(href="#") Законопроекты
					li.nav-item
						a(href="#") Биография
					li.nav-item
						a(href="#") Контакты
			.search-block
				form
					.search-cont
						input.us-input.search-input(placeholder="Поиск по сайту")
						button.search-btn
		.clearfix