extends layout

block vars
  - var title = 'Главная';

block content
    .index-block
        .container_12
            .grid_12
                .index-slider.js-slider
                    a(href="#").index-arrow.a-left.js-prev
                    a(href="#").index-arrow.a-right.js-next
                    .js-fotorama
                        each i in [4,5,6]
                            .fororama-slide(style="background-image: url(images/tmp/indexslider_1.jpg)" data-caption="Николай Левичев подвел итоги 201#{i} года") &nbsp;
                                a(href="news_one.html")
            .clearfix
    .main-content.index-content
        .container_12
            .grid_8
                .min-title
                    a(href="news.html") Новости
                ul.main-feed
                    each i in [0,1]
                        li.feed-item
                            .feed-date 24 декабря 2015
                            a(href="news_one.html").feed-title О внесении изменений в Федеральный закон<br>“О противодействии коррупции”
                            .feed-desc
                                img(src="images/tmp/newsmin_1.jpg")
                                span Надо напомнить Правительству, что в нашей огромной Родине во многие тысячи населенных пунктов, в которых зачастую живут далеко не самые богатые люди, можно попасть только поездами. И отмена электричек - не только ограничение конституционного права граждан на свободу передвижые богатые люди, можно попасть только поездами. И отмена электричек - не толени ...
                                .clearfix
                .law-block.js-law-item(data-law-id="1")
                    a(href="laws.html").section-title Законопроекты
                    a(href="#").feed-title.js-open-law О внесении изменений в статью 1.1 Федерального закона “О днях воинской славы и памятных датах России”
                    .law-desc Об установлении памятной даты России “3 декабря - День Неизвестного Солдата”
                .min-title
                    a(href="photo_albums") Фото
                .in-content
                    ul.album-list
                        each i in [1,2]
                            li.album-item.photo-item
                                a(href="photos.html" style="background-image: url(images/tmp/gallery_#{i}.jpg)").album-photo
                                .album-info
                                    .info-date 22 декабря 2014
                                    .info-title
                                        a(href="photos.html").title-link Николай Левичев в эфире телеканала “Россия-24”
                                    .info-amount 53 фото
                .min-title
                    a(href="audio.html") Аудио
                ul.main-feed
                    li.feed-item.js-audio-cont.js-audio-opened
                        .feed-date 24 декабря 2015
                        .feed-title.js-audio-open О внесении изменений в Федеральный закон<br>“О противодействии коррупции”
                        .audio-cont.js-audio <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/183724785&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            .grid_4
                .min-title
                    a(href="video_albums.html") Видео
                ul.album-list.search-albums
                    li.album-item.video-item
                        a.js-fancybox.album-photo(href="https://www.youtube.com/embed/VT1-sitWRtY" class="fancybox.iframe" style="background-image: url(images/tmp/gallery_2.jpg)")
                        .album-info
                            .info-date
                                span 22 декабря 2014
                            .info-title
                                a.js-fancybox.title-link(href="https://www.youtube.com/embed/VT1-sitWRtY" class="fancybox.iframe") Николай Левичев в эфире телеканала “Россия-24”
                .min-title Facebook
                .soc-block
                .min-title Twitter
            .clearfix
    .law-overlay.js-law-overlay
        .law-close.js-law-close
        .law-arrow.a-left.js-law-prev
        .law-arrow.a-right.js-law-next
        .law-popup.js-law-popup(data-law-id="1")
            .law-title О внесении изменений в Федеральный закон “О трудовых пенсиях в Российской Федерации”
            .law-date 24 января 2015
            .law-info
                p <b>Авторы:</b> Левичев Николай Владимирович, Миронов Сергей Михайлович, Оганян Оганес Арменакович
                p <b>Внесен в ГД</b> 04 сентября 2013
                p <b>Рег. №:</b> 338550-6
            .law-text
                .info-block
                    .upper-title Законопроект
                    a(href="#").info-file
                        span PDF, 56 kB
                p Разработка  настоящего федерального законопроекта обусловлена необходимостью усиления в России противодействия коррупции посредством установления норм прямого действия, обеспечивающих формирование конкретных механизмов борьбы с коррупцией  в государственных и муниципальных организациях.
                p В настоящее время хищения бюджетных средств нередко осуществляются посредством коррупционных финансовых операций руководителями государственных и муниципальных организаций или их обособленных структурных  подразделений.Чаще всего коррупционные схемы базируются на перечислении финансовых средств  государственных или муниципальных организаций  или их обособленных структурных подразделений  в организации,  руководителями которых являются близкие родственники одного из руководителей организации, перечисляющей средства. В последнее десятилетие широкое распространение получила другая коррупционная схема, когда в государственную или муниципальную организацию или его обособленное подразделение принимаются на работу близкие родственники руководителя организации, что позволяет ему осуществлять  свою деятельность, в том числе в части финансово-хозяйственных операций,  закрытой от коллектива организации и общества. Такие условия способствуют развитию коррупции и формированию на базе государственной или муниципальной организации и за счет бюджетных средств «коррупционного семейного бизнеса».
                p Как правило, осуществить противозаконную финансовую операцию без участия главного бухгалтера и заместителей вышеуказанных должностных лиц невозможно.С целью предупреждения условий для коррупции, а также отстранения коррупционеров от полномочий руководителя организации законопроект устанавливает конкретные правовые механизмы. С этой целью предусматривается внести в Федеральный закон “О противодействии коррупции” две новые статьи (статьи 13.5 и 13.6).Статьей 13.5  устанавливается обязанность организаций принимать меры по предупреждению коррупции при использовании финансовых средств государственных и муниципальных организаций. В частности, государственным и муниципальным организациям и их обособленным подразделениям вменяется в обязанность при использовании финансовых средств организаций, независимо от источников их получения, не допускать перечисления этих средств, в том числе за выполнение работ, услуг или приобретение материальных ценностей, за исключением случаев перечисления средств в соответствии с заключенным контрактом, в том числе контрактом, заключенным с единственным поставщиком (подрядчиком, исполнителем), организациям, руководители которых или их заместители, или главные бухгалтеры состоят в близком родстве (родители, супруги, дети, братья, сестры, дедушки, бабушки, внуки, а также братья, сестры, родители, дедушки, бабушки, дети супругов и супруги детей) с руководителями или их заместителями, или главными бухгалтерами организации или обособленного подразделения, перечисляющей средства.
