extends layout

block vars
  - var title = 'Законопроекты';

block content
    .h1-cont
        .container_12
            .grid_12
                h1 Законопроекты
            .clearfix
    .main-content
        .container_12
            .grid_8
                .block-title В настоящем разделе освещается законодательная деятельность депутата Государственной Думы Н. В. Левичева.
                ul.main-feed
                    each i in [0,1]
                        li.feed-item
                            a(href="#").feed-title О внесении изменений в Федеральный закон<br>“О противодействии коррупции”
                            .feed-desc В части введения упрощенных механизмов установления зон охраны объектов культурного наследия.
                            .js-tabs-parent
                                ul.feed-tab-links
                                    li.js-tab-link
                                        span Пояснительная записка
                                    li.js-tab-link
                                        span Текст законопроекта
                                ul.feed-tabs
                                    li.js-tab
                                        .tab-desc
                                            p В частности, государственным и муниципальным организациям и их обособленным подразделениям вменяется в обязанность при использовании финансовых средств организаций, независимо от источников их получения, не допускать перечисления этих средств, в том числе за выполнение работ, услуг или приобретение материальных ценностей, за исключением случаев перечисления средств в соответствии с заключенным контрактом, в том числе контрактом, заключенным с единственным поставщиком
                                        .tab-bottom 
                                            p <b>Авторы:</b> Левичев Николай Владимирович, Миронов Сергей Михайлович, Оганян Оганес Арменакович
                                            p <b>Внесен в ГД 04</b> сентября 2013
                                            p <b>Рег. №:</b> 338550-6
                                    li.js-tab
                                        .tab-desc
                                            p В частности, государственным и муниципальным организациям и их обособленным подразделениям вменяется в обязанность при использовании финансовых средств организаций, независимо от источников их получения, не допускать перечисления этих средств, в том числе за выполнение работ, услуг или приобретение материальных ценностей, за исключением случаев перечисления средств в соответствии с заключенным контрактом, в том числе контрактом, заключенным с единственным поставщиком
                                            p В частности, государственным и муниципальным организациям и их обособленным подразделениям вменяется в обязанность при использовании финансовых средств организаций, независимо от источников их получения, не допускать перечисления этих средств, в том числе за выполнение работ, услуг или приобретение материальных ценностей, за исключением случаев перечисления средств в соответствии с заключенным контрактом, в том числе контрактом, заключенным с единственным поставщиком
                                        .tab-bottom 
                                            p <b>Авторы:</b> Левичев Николай Владимирович, Миронов Сергей Михайлович, Оганян Оганес Арменакович
                                            p <b>Внесен в ГД 04</b> сентября 2013
                                            p <b>Рег. №:</b> 338550-6
                include pagination
            .grid_4
                .min-title Facebook
                .soc-block
                .min-title Twitter
            .clearfix
