* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    position: relative;
    min-height: 100%;
	font-family: 'museo_sans_cyrl';
	font-weight: 300;
	color: rgb(34, 34, 34);
}

body {
    padding-bottom: 1px;
    margin: 0 0 269px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 1020px;
}

mark {
    font-weight: 700;
    background: #fee600;
    color: inherit;
}

.main-content {
	margin: 65px 0 90px;
}

::-webkit-input-placeholder {color:#212126;}
::-moz-placeholder          {color:#212126;}
:-moz-placeholder           {color:#212126;}
:-ms-input-placeholder      {color:#212126;}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}